<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trigger Bootstrap Toast via jQuery</title>

  </head>
<body>
  <div class="m-4">
      <p><strong>Note:</strong> By default toasts will automatically hide if you do not set autohide to false.</p>

      <button type="button" class="btn btn-primary" id="myBtn">Show Toast</button>

      <!-- <div class="position-fixed top-0 end-0 p-3" style="z-index: 11;position: relative;margin-top:50px"> -->
        <div style="border: 2px solid darkgrey;" class="effect1 toast" id="myToast">
            <div class="toast-header">
                <strong class="me-auto"><i class="bi-gift-fill"></i>&nbsp;&nbsp; We miss you!</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div style="background-color: rgb(248, 241, 241);" class="toast-body">
                It's been a long time since you visited us. We've something special for you. <a href="#">Click here!</a>
            </div>
        </div>
      <!-- </div> -->
  </div>

</body>
<router-outlet></router-outlet>
